<!-- Loop over each object in the projects array -->



<div class="matches_container">

        <div class="match row row-cols-1 row-cols-md-2">
            {{#each users as |user| }}
            <div class="match_name card ">
                {{!-- <div class="container">
                    <div class="row"> --}}
                <div class="name_photo col-sm-6">
                    <h1 class="card-title">{{user.first_name}}</h1>
                    <img class="circle profilePhoto col-sm-6" src="" >
                    {{!-- </div>
                    </div> --}}
                </div><!--ending name and photo div-->
                 <span class="age"><strong>Age: </strong>{{user.age}}</span>
                 <span class="pronoun"><strong>Pronoun: </strong>{{user.preferred_pronoun}}</span>
                    <h3 class="beer_preference"><strong>Beer Type: </strong>{{user.beers_name}}</h3>
                    <h4 class="hobbies"><strong>Hobbies: </strong>{{user.hobbies}}</h4>
                    <ul class="hobbies_list">
                        {{#each user.user_hobbies}}
                        <li>
                            {{{this}}}
                        </li>
                        {{/each}}
                     </ul>
                </div >
                {{/each}}<!--ending div match_name-->
        </div><!--ending div match card-->
     
</div><!---ending div for container-->



