<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,200&display=swap" rel="stylesheet">
    <title>MixNMatch</title>
</head>
<body>

<div class="flex-column justify-space-around">
    <header class="primaryHeader display-flex justify-space-between align-center p-2">
      <strong>Mix 'n' Match </strong> 
     
        {{#if logged_in}}
        <div class="avatar">
         <div class="avatarpic"><img class="circle profilePhoto col-sm-6" src="{{currentUser.user_image}}"></img></div>
        <div class="logout"><button class="log_out banner_btn hvr-sweep-to-top" id="logout ">Log Out</button></div>
        </div>
        {{/if}}<!-- removed the else since we are only providing an option if the user is logged in-->
    </header>   

{{#if logged_in}}
    <main class="container container-fluid mt-5"><!--Opening main section/div-->
         <div class="jumbotron"><!--opening div for jimbotron-->
             <h1 class="display-4 head-text " style="font-size: 2.5em;">Hey {{currentUser.first_name}}, you matched with these fine people!</h1>       
             
                        <marquee class="welcome_info lead">
                            Cheers your new matches to request contact info!
                        </marquee>           
                    <div><!--opening div for body handlebars-->
                        {{{ body }}}        
                    </div><!--ending div for body-->
             </div> <!--ending div for jumbotron -->     

    {{else}}

    <main class="container container-fluid mt-5"> <!--Earlier I (HB) pointed out 2 opening main sections but possibly this is fine to the else???-->
        <div class="jumbotron">
            <div class="logo_title">
                <div class="logo"></div><!--begining and end div for logo title-->
                <marquee class="welcome_info lead">
                    Join today to get in touch with your future drinking buddies!
                </marquee>
            </div>  <!--ending div for log_title-->
            
            <div>
                {{{ body }}}
            </div>
        </div><!--ending jumbotron div-->
    
        {{/if}}   <!--closing if statement from 1st main section-->
    
    </main><!--closing main section-->         
  
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>   
{{#if logged_in}}
<script src="/js/logout.js"></script>
<script src="/js/signup.js">
</script>
<script src="/js/notification.js"></script>
{{/if}}

</div><!--closing div of first after body-->
    <footer class="footer">
      <a href="" style="color: rgb(150, 103, 1);">About Us</a>  | <a href="" style="color: rgb(150, 103, 1);">Contact</a> | <a href="" style="color: rgb(150, 103, 1);">Join our Team</a> | <a href="" style="color: rgb(150, 103, 1);">FAQ</a> 
    </footer>
</body>
</html>
